<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/cadastro.css" />
  </head>
  <body class="no-scroll">
    <div class="modal-content" style="max-width: 350px">
      <form action="/cadastro" method="POST" id="formCadastro">
        <h2>Cadastro</h2>
        <div class="form-group">
          <label>Nome:</label>
          <input type="text" name="nome" required />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" name="email" required />
        </div>
        <div class="form-group">
          <label>Senha:</label>
          <input type="password" name="senha" required />
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-success">Cadastrar</button>
          <a href="/login" class="btn btn-secondary">Login</a>
        </div>
      </form>
    </div>
  </body>
</html>
